@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  li {
    @apply cursor-pointer;
  }
}
@layer utilities {
  input {
    @apply border-darkSecondaryColor;
  }

  .skillsIcon-container:hover svg,
  .skillsIcon-container:hover h3 {
    @apply transition-colors duration-200 ease-in-out;
  }

  .skillsIcon-container:hover {
    @apply cursor-pointer transition-colors duration-200 ease-in-out;
  }

  .gradientText {
    background-image: linear-gradient(360deg, #f56a6a, black);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
